.info{
	padding-right: 10px;
	align-self: center;
}

.hidebar{
	overflow: hidden;
}

.flex{
	display: flex;
}

.center{
	text-align: center;
}

.vertaligh{
	padding: 20% 0;
}

.visible{
	display: block;
}

.invisible{
	display: none;
}

.image{
	height: 21px;
	width: 21px;
}

.cntrl{
	align-self: center;
	margin-left: auto;
	padding-right: 1%;
}